<div class="container">
    <section class="header">
        <h2>Webapp</h2>
    </section>

    <div class="row">
        <form>
            <button class="button facebook">Log in with Facebook</button>
        </form>
    </div>
</div>