<div class="container">
    <section class="header">
        <h2>Login</h2>
    </section>

    <form action="/auth/facebook" method="post">
        <div class="row">
            <button class="button facebook"
                    type="submit">
                Log in with Facebook</button>
        </div>
    </form>
    <form action="/auth/local" method="post">
        <div class="row">
            <label for="loginEmail">
                Email</label>
            <input id="loginEmail"
                   class="u-full-width"
                   placeholder="name@domain.com"
                   type="email">
            <label for="loginPassword">
                Password</label>
            <input id="loginPassword"
                   class="u-full-width"
                   type="password">
        </div>
        <div class="row">
            <button class="button-primary"
                    type="submit"
                    value="login">
                Log In</button>
            <button type="submit"
                    value="register">
                Register</button>
        </div>
    </form>
</div>