<div class="container">
    <section class="header">
        <h2>Login</h2>
    </section>

    <div class="row">
    {{#each flash}}
        <div class="flash">{{this.message}}</div>
    {{/each}}
    </div>

    <form id="ono" action="/auth/facebook" method="post">
        <div class="row">
            <button class="button facebook"
                    type="submit">
                Log in with Facebook</button>
        </div>
    </form>
    <form id="two" action="/auth/local" method="post">
        <div class="row">
            <label for="loginEmail">
                Email</label>
            <input id="loginEmail"
                   name="email"
                   type="email"
                   class="u-full-width"
                   placeholder="name@domain.com">
            <label for="loginPassword">
                Password</label>
            <input id="loginPassword"
                   name="password"
                   type="password"
                   class="u-full-width">
        </div>
        <div class="row">
            <button class="button-primary"
                    type="submit"
                    name="action"
                    value="login">
                Log In</button>
            <button type="submit"
                    name="action"
                    value="register">
                Register</button>
        </div>
    </form>
</div>