.header {
  margin-top: 1rem;
}

.row {
  margin-bottom: 3rem;
}

.flash {
  width: 100%;
  padding: 6px 0;
  border-radius: 4px;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  background: #cc3d3d;
  color: white;
}

button {
  width: 100%;
  margin-bottom: 2rem;
}

.facebook {
  background: #3b5998;
  border-color: #3b5998;
  color: white !important;
}

.facebook:hover {
  background: #3a4482;
}